@use "../abstracts/index" as *;

.header {
    position: relative;
    width: 100%;
    @include align(flex, space-between, center, 5rem);
    background-color: $silverlight;

    &__Logo {
        @include align(flex, none, center, 100%);

        img {
            @include widthHeight(auto, 100%);
        }

        &__Heading {
            margin-left: 1rem;
            font-size: 2rem;
        }
    }

    &__container {
        height: 100%;
        display: flex;
        align-items: center;

        button {
            margin-right: 5rem;
            padding-left: 2rem;
            padding-right: 2rem;
            border-radius: 1rem;
            border-style: none;
            background: linear-gradient(to right, $main1, $main2);
            color: white;
            cursor: pointer;
            height: 80%;
        }
    }
}